<h1>Reset Password</h1>

<form action="<%= set_new_password_url %>" method="post">

  <label for="password">New Password</label>
  <input type="text" name="user[password]" id="password">
  <br>

  <input type = "hidden" name = "user[email_token]" value = "<%=@user.email_token%>">

  <input type = "submit" value = "Reset Password">
</form>