<h1>Sign In</h1>
<form action="<%= session_url %>" method="post">
  <label for="email">Email</label>
  <input type="text" name="user[email]" id="email">
  <br>

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <br>

  <input type = "submit" value = "Sign In User">
</form>

<%=button_to("Reset Password", reset_password_url, :method => :get)%>
