<h1>Post Secret</h1>

<form action="<%= secrets_url %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <label for="secret_content">Your Secret</label>
  <input
     id="secret_content"
     name="secret[title]"
     type="text">
  <br>

  <input type="hidden" name="secret[recipient_id]" value="<%=@user.id%>">

  <div class="secret-tag-selects"></div>
  <a href="#" class="add-secret-tag">Add Another Tag</a>

  <input id="secret_form" type="submit" value="Post Secret">
</form>




<script type="application/json" id="bootstrapped_tags">
  <%= Tag.all.to_json.html_safe %>
</script>

<script type="text/template" id="secret-tag-select-template">
  <select name="secret[tag_ids][]">
  <option>Select a tag</option>
  <%%_(tags).each(function(tag){ %>
    <option value="<%%=tag.id%>"><%%=tag.title%></option>
  <%% }); %>
  </select>
</script>

<script>
  var TAGS = JSON.parse($("script#bootstrapped_tags").html());

  var addSecretTagSelect = function() {
    var templateFn = _.template($("script#secret-tag-select-template").html());
    $("div.secret-tag-selects").append(templateFn({ tags: TAGS }));
  };

  addSecretTagSelect();
</script>