<h1>Post Secret</h1>

<form action="<%= secrets_url %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <label for="secret_content">Your Secret</label>
  <input
     id="secret_content"
     name="secret[title]"
     type="text">
  <br>

  <input type="hidden" name="secret[recipient_id]" value="<%=@recipient.id%>">

  <input type="submit" value="Post Secret">
</form>
