<form>
  <input type="hidden" name="authenticity_token" value="<%=FORM_AUTHENTICITY_TOKEN%>">

  <label for='gistTitle'>Gist Title</label>
  <input type="text" name="gist[title]" id='gistTitle'>

  <input id="submit" type="submit" value="Submit Gist">
</form>